.add-transaction--view{
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  gap: 10px;
  padding: 15px 20px;
  margin: 20px;
  width: 70%;
  align-items: center;
}
.add-transaction--view > input{
  outline: none;
  height: 50px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid black;
  width: 100%;
}
.radio--box{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.radio--box > input {
  width: unset;
  margin: 0 10px;
}
.radio--box > label {
  font-size: 30px;
}
.add--btn{
  background: black;
  color: white;
  padding: 30px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  
}